{% extends "base.html" %}

{% block content %}
<h1 class="text-center">{{ company.name }}'s Assets</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Fix the form tag here -->
            <form action="{{ url_for('assets', company_id=company.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg") }}
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {{ form.description(class="form-control form-control-lg") }}    
                </div>
                </div>
                <div class="form-group">
                    {{ form.ip_address.label(class="form-control-label") }}
                    {{ form.ip_address(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.serial_number.label(class="form-control-label") }}
                    {{ form.serial_number(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.service_tag.label(class="form-control-label") }}
                    {{ form.service_tag(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.location.label(class="form-control-label") }}
                    {{ form.location(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form> <!-- Close the form tag here -->
        </div>
    </div>
</div>

<hr>

<div class="container">
    <h2 class="text-center">Existing Assets</h2>
    {% for asset in assets %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p>{{ asset.name }} - {{ asset.ip_address }} - {{ asset.serial_number }} - {{ asset.service_tag }} - {{ asset.location }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
