{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="text-center mb-4">Create Your Company</h2>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.address.label(class="form-label") }}
                            {{ form.address(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label(class="form-label") }}
                            {{ form.phone(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary btn-block") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
